table:not(#total_credits) {
  border: 5px solid black;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
}

table {
  font-size: 1.2em;
}


.semester-selector {
  vertical-align: bottom;
}

.add-button {
  padding-bottom: 15px;
}

.select-toggled {
  background-color: #e8e8e8;
}

.course-credits {
  width: 60px;
}

.major-list-item {
  border: solid;
  border-radius: 7px;
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px 0 10px;
  background: #a679ce;
  background: linear-gradient(#a679ce, #8d66af);
  border-color: #9090e5;
  border-width: 1px;
  box-shadow: inset 0 0 5px gray;
  color: white;
}

.major-list-item:hover {
  background: #a679ce;
  background: linear-gradient(#a679ce, #5f4675);
  cursor: pointer;
}

.major-list-item p {
  font-size: 14px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.remove-major {
  color: red;
  margin-left: 5px;
}

.delete-link {
  color: #000000;
  font-weight: bolder;
}

.delete-link:hover {
  color: red;
  text-decoration: none;
}

#course_planner_semester {
  vertical-align: middle;
}
