{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="col-md-12">
      <div class="col-sm-6">
        <h3>Total Credits Needed: 
          <span><input type="text" id="credits_needed"></input></span>
        </h3>
      </div>
      <div class="col-sm-6 text-right">
        <h3>Credits Remaining: <span id="credits_remaining"></span></h3>
      </div>
    </div>

    <table class="table" id="intended_majors">
      <tr>
        <td colspan=4><h2>Intended Major(s)</h2></td>
      </tr>
      <tr>
        <th class="col-sm-6">Major</th>
        <th class="col-sm-2">Credits Needed</th>
        <th class="col-sm-2">Credits Remaining</th>
        <th class="col-sm-2">Major GPA</th>
      </tr>
    </table>
    <div class="col-md-12 add-button">
      <button class="btn btn-success" id="add_major">Add Major</button>
    </div>

    <table class="table" id="course_planner">
      <tr>
        <th colspan=4><h2>Course Planner</h2></th>
        <td id="course_planner_semester"></td>
      </tr>
      <tr>
        <th class="col-sm-4">Course Title</th>
        <th class="col-sm-2">Credits</th>
        <th class="col-sm-2">Contributes To</th>
        <th class="col-sm-2">Anticipated Grade</th>
        <th class="col-sm-2">Actual Grade</th>
      </tr>
    </table>
    <div class="col-md-12 add-button">
      <button class="btn btn-success" id="add_course">Add Course</button>
    </div>

    <table class="table" id="gpa_manager">
      <tr>
        <th><h2>GPA Manager</h2></th>
      </tr>
      <tr>
        <td>Actual GPA:<span id="actual_gpa"></span></td>
      </tr>
      <tr>
        <td>Anticipated GPA by
          <span id="anticipated_GPA_semester"></span>
          :
          <span id="anticipated_gpa"></span>
        </td>
      </tr>
      <tr>
        <td>Highest GPA by
          <span id="highest_GPA_semester"></span>
          :
          <span id="highest_gpa"></span>
        </td>
      </tr>
    </table>
  </div>
  <script src={{url_for("static", filename="user.js")}}></script>
  <script src={{url_for("static", filename="major.js")}}></script>
  <script src={{url_for("static", filename="course.js")}}></script>
  <script src={{url_for("static", filename="academic_manager.js")}}></script>
  <link rel="stylesheet" href={{url_for("static", filename="academic_manager.css")}}>
{% endblock %}
